.titulo {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    font-style: oblique;

    text-decoration: underline dashed rebeccapurple;
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
    
    
}
body {
    background-color: rgb(0, 0, 0);

}
p {
    color: aqua;
    text-align: start;
}
.claseconid {
    color: lime;
    text-decoration: underline;
    text-align: center;
}
#tituloconid{
    color: plum;
    text-decoration: overline underline double;
    text-align: right;

}
#nombre{
    color: red;
    background-color: aqua;
}
.ingresar{
    color: rgb(255, 251, 0);
}
#password{
    color: blue;
    background-color: brown;
}
.contra{
    color: aqua;
}
